.navbar-inverse{
    .navbar-brand {
        color: #d67a76;        
    }
    a.navbar-brand span{
        margin-left: 40px;
    }
}
.navbar-header{
    img{
        position: absolute;
        top: 6px;
        width: 36px;
    }
}