<div class="media">
  <div class="media-left">
    <a href="#">
        <time datetime="2014-09-20" class="icon">
            <em>Saturday</em>
            <strong>September</strong>
            <span>20</span>
        </time>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <p>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
    </p>
    <p>
        <a href="">Read more</a>
    </p>
  </div>
</div>
<div class="media">
  <div class="media-left">
    <a href="#">
        <time datetime="2014-09-20" class="icon">
            <em>Saturday</em>
            <strong>September</strong>
            <span>20</span>
        </time>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <p>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
    </p>
    <p>
        <a href="">Read more</a>
    </p>
  </div>
</div>
<div class="media">
  <div class="media-left">
    <a href="#">
        <time datetime="2014-09-20" class="icon">
            <em>Saturday</em>
            <strong>September</strong>
            <span>20</span>
        </time>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <p>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
    </p>
    <p>
        <a href="">Read more</a>
    </p>
  </div>
</div>