<div>
    <h1>Scrum Essentials</h1>
    <p><strong>Scrum Essentials</strong> is set of tools that has been designed to facilitate all the scrum events and artifacts</p>
    <h2>To get started with this project</h2>
    <p>You will need to install dependencies:</p>
    <blockquote>
    <p>npm install</p>
    </blockquote>
    <p><code>node_modules</code> and <code>typings</code> directories should be created during the install.</p>
    <p>Build the project:</p>
    <blockquote>
    <p>npm run clean &amp; npm run build</p>
    </blockquote>
    <p><code>build</code> directory should be created during the build</p>
    <blockquote>
    <p>npm start</p>
    </blockquote>
    <p>The application should be displayed in the browser.</p>
</div>