<p>
    <img src="/static/images/cross-device.png" alt="product cross device">
</p>
<iframe class="phone" src="http://localhost:5000">
</iframe>
<iframe class="tablet" src="http://localhost:5000">    
</iframe>
<iframe class="desktop" src="http://localhost:5000">    
</iframe>

<div>
    <h3>v0.0.0 - 2016-07-16</h3>
    
    <h4>💡 New Features</h4>
    <ul>
        <li>feat(login/register): create login and register Add enity frame work and create login and register</li>
        <li>feat(ui): add the main home page ui add search and left side nav and main container</li>
    </ul>

    <h4>🐞 Fixed Issues</h4>
    <ul>
        <li>fix(vscode): remove the out put folders remove all the out put folders like bin obj from vs code</li>
    </ul>

    <h4>📈 Test Improvment</h4>
    <ul>
        <li>test(xproj): add default service guid an automatic guid is added by visual studio</li>
    </ul>

    <h4>💭 Other Improvment</h4>
    <ul>
        <li>build(visual studio): add solution and xproj files Add the solution and xproj for src and test projects in order to support development in visual studio and windows</li>
        <li>build(watch): add watch to the project add watch so that app can build it self when change happens</li>
        <li>ci(appvoyer): add build and badge to readme</li>
        <li>refactor(syntacticdocs): remove the unused folder remove the unused folder that has been pushed by accident</li>
    </ul>
</div>