.alert{
    margin-top: 24px;
}
.artifact-item {
    float: left;
    padding: 10px;
    min-width: 112px;            
    text-align: center;    
    + i {
        float: left;
        padding: .2em;
    }
}
.sprint-diagram{
    margin-top: 100px;
    .content{
        display: table;
        margin: 0 auto;
    }
}
    