<h1>Scrum Framework Toolkit</h1>
<div class="alert alert-info" role="alert">
   <i class="fa fa-info-circle"></i> Bellow is set of tools that should help get started with scrum framework, 
   select the tool you wish to use
</div>

<div class="sprint-diagram text-primary">
    <div class="content">
        <div class="artifact-item">
            <i class="fa fa-list-ol fa-5x" aria-hidden="true"></i>
            <div class="artifact-title"><a [routerLink]="['Backlog']">Backlog</a></div>
        </div>
        <i class="fa fa-long-arrow-right fa-5x" aria-hidden="true"></i>
        <div class="artifact-item">
            <i class="fa fa-list-alt fa-5x" aria-hidden="true"></i>
            <div class="artifact-title"><a [routerLink]="['Backlog']">Sprint Backlog</a></div>
        </div>        
        <i class="fa fa-long-arrow-right fa-5x" aria-hidden="true"></i>
        <div class="artifact-item">
            <i class="fa fa-refresh fa-5x" aria-hidden="true"></i>
            <div class="artifact-title">Sprint</div>
        </div>
        <i class="fa fa-long-arrow-right fa-5x" aria-hidden="true"></i>
        <div class="artifact-item">
            <i class="fa fa-cubes fa-5x" aria-hidden="true"></i>
            <div class="artifact-title">Increment</div>
        </div>                    
            <div class="artifact-item">
            <i class="fa fa-users fa-5x" aria-hidden="true"></i>
            <div class="artifact-title">Review</div>
        </div>     
            <div class="artifact-item">
            <i class="fa fa-users fa-5x" aria-hidden="true"></i>
            <div class="artifact-title">Retro</div>
        </div>     
    </div>
</div>